.Nav-Container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.Nav-Container h1 {
  color: #242424;
}
.Nav-Container .ButtonLogin {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 17px 60px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
  color: #fff;
}
.Nav-Container .ButtonLogin:hover {
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 17px 60px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
